<div class="container-fluid footer fixed-bottom">
    <link rel='stylesheet' href="/stylesheets/footer.css" />
    <ul class="list-inline text-center lead">
        <li class='list-inline-item col-md-2'><a class='text-danger text-decoration-none' href='http://localhost:3000/t&c'> Terms and condition</a></li>
        <li class='list-inline-item col-md-2'><a class='text-danger text-decoration-none' href='http://localhost:3000/about'>About</a></li>
        <li class='list-inline-item col-md-2'><a class='text-danger text-decoration-none' href='http://localhost:3000/contactus'>Contact us</a></li>
        <li class='list-inline-item col-md-2'><a class='text-danger text-decoration-none' href='http://localhost:3000/help'>Help</a></li>
    </ul>
</div>