<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href="../bootstrap.css" />
        <link rel ='stylesheet' href="../stylesheets/centerhome.css" />
        <script src='../jquery.js'></script>
        <script src="../javascripts/vaildate.js"></script>
        <title>Terms And Condition</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class='col-md-4 text-success'>
                    <h3><p>Visitors <sub><cite>Athiti devo bhav </cite></sub></p></h3>
                </div>
            </div>
            <div class="container">
                <h1>Terms and Condition</h1>
            </div>
            <div class="container offset-md-2 col-md-7 dist">
                <h3>Center :-</h3>
                <blockquote>
                    <ul>
                        <li>You must have to verify your account before Visits</li>
                        <li>Center can only access all data related to there center</li>
                        <li>If center forget his password the he can reset his password via help section </li>
                        <h4>Center handles the keepers :-</h4>
                        <blockquote>
                            <ul>
                                <li>Center can add one or more keepers</li>
                                <li>Center change and update the details of Keepers</li>
                                <li>if any case keeper forget its password then center can update his new password </li>
                            </ul>
                        </blockquote>
                    </ul>
                </blockquote>
                <hr></hr>
                <h3>Keepers :- </h3>
                <blockquote>
                    <ul>
                        <li>Center can only create keepers account</li>
                        <li>Keeper need a unique id and password provided by the center to login take advantage of the Visits</li>
                        <li>Keeper can update details of Visitors</li>
                        <li>Keeper can only accesss the data of Todays Visitors </li>
                    </ul>
                </blockquote> 
            </div>
        </div>
        <%- include('../footer'); %>
        <script src='../javascripts/centerhome.js'></script>
    </body>
</html>