<!DOCTYPE html>
<html>
    <head>
        <title>Registration Successfull</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href="../bootstrap.css" />
        <link rel='stylesheet' href='../stylesheets/registsuc.css' />
        <script src='../jquery.js'></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class='row'>
                <div class='col-md-4 text-success'>
                    <h3><p>Visitors <sub><cite>Athiti devo bhav </cite></sub></p></h3>
                </div>
            </div>
        <div class="container">
            <div class="container text-center text-success">
                <h2>Registration Success </h2>
            </div>
            <div class="container">
                <div class="text-center lead">You will be redirected to home page after <span id='time'>5</span> seconds</div>
            </div>
            <div class="container">
                    <div class="text-center lead"><a class='text-decoration-none' href="/">click here</a></div>
                </div>
            <div class="container text-left offset-2 text-info">
                <p>@ You have successfully registered !</p>
                <p>@ Get Free to Acceess from anywhere !</p>
                <p>@ To manage Keepers login !</p>
                <p>@ To see Visitors list login !</p>
                <p>@ Thank you for your support !</p>
            </div>
        </div>
        </div>
        <%- include('../footer'); %>
        <script src='../javascripts/registsuc.js'></script>
    </body>
</html>