<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href="../bootstrap.css" />
        <link rel ='stylesheet' href="../stylesheets/centerhome.css" />
        <script src='../jquery.js'></script>
        <script src="../javascripts/vaildate.js"></script>
        <title>About</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class='col-md-4 text-success'>
                    <h3><p>Visitors <sub><cite>Athiti devo bhav </cite></sub></p></h3>
                </div>
            </div>
            <div class="container dist">
                    <div class='data'>
                            <h3>Visits</h3>
                            <blockquote>
                                This application is developed by <cite>sandeep yadav</cite> to sell and buy book.<br/>
                            </blockquote>
                            <h3>Made By</h3>
                            <blockquote>
                                <cite>Sandeep yadav and friends</cite><br/>
                                <cite>Phone no. - 7697947913</cite>
                            </blockquote>
                            <h3>Tools Required</h3>
                            <blockquote>
                                HTML, CSS, Bootstrap, JavaScript, NodeJs, Express Server, EJS(Embedded JavaScript), JQuery, JQuery-Ui, SQL(for database)
                            </blockquote>
                            <h3>Special Thanks</h3>
                            <blockquote>
                                <cite>Mr. Anoop Ingole Sir<br/>Phone no. - 7898579690
                                <br />
                                ISRDC jabalpur<br />
                                64, Sai Colony, Nr. Krishi Upaj Mandi,, Behind Pachori Petrol Pump, Karmeta, Jabalpur, Madhya Pradesh 482002</cite><br/>
                                <a href='https://isrdc.business.site'>&raquo; Know More &laquo; </a> 
                            </blockquote>
                        </div>
                    
            </div>
        </div>
        <%- include('../footer'); %>
        <script src='../javascripts/centerhome.js'></script>
    </body>
</html>

